body {
	overflow: hidden;
	margin: 0;
	background: black;
	color: white;
	font-family: 'Courier New', Courier, monospace;
	touch-action: none;
	width: 100%;
}

h1 {
	margin: 0;
	height: 10vh;
	font-size: 5vw;
	text-align: center;
}

#online-players {
	right: 10px;
}
#ping {
	font-size: 3vw;
	top: 30px;
	left: 10px;
}

#github-link {
	font-size: 3vw;
	color: white;
	left: 10px;
}

#github-link:visited {
	color: white;
}

h2 {
	position: absolute;
	top: 10px;
	font-size: 4vw;
}

#start-screen {
	position: absolute;
	text-align: center;
	font-size: 5vw;
	top: 50%;
	left: 50%;
	margin-top: -12.5vh;
	margin-left: -25vw;
	width: 50vw;
	height: 25vh;
}

#input-username[type='text'] {
	background-color: black;
	border: 0.5vw solid white;
	color: white;
	text-align: center;
	font-size: 5vw;
	width: 46vw;
	padding: 1vw 1.5vw;
	border-radius: 0.4vw;
}

.menu-button {
	margin-top: 0.5vw;
	padding: 1vw 2vw;
	width: 50vw;
	border-radius: 2vw;
	background-color: black;
	color: white;
	border: 0.3vw solid white;
	transition-duration: 0.3s;
}

.menu-button:hover {
	cursor: pointer;
	background-color: white;
	color: black;
}

#match-making {
	position: absolute;
	text-align: center;
	font-size: 5vw;
	top: 50%;
	left: 50%;
	margin-top: -12.5vh;
	margin-left: -27.5vw;
	width: 55vw;
	height: 25vh;
}

#gameplay {
	position: relative;
	background: blue;
	height: 90vh;
	width: 100%;
}

@media (pointer: none), (pointer: coarse) {
	#gameplay {
		height: 75vh;
	}
}

@media (max-width: 600px) {
	h1 {
		font-size: 8vw;
	}
	#start-screen, #match-making {
		width: 90vw;
		margin-left: -45vw;
	}
	#input-username[type='text'], .menu-button {
		width: 90vw;
		font-size: 6vw;
	}
}

#drawing-canvas {
	touch-action: none;
	border: 0.5vw white solid;
	cursor: none;
}
